
body {
    font-family: monospace, sans-serif; 
    background-color:darkgrey;
    text-align: center;
    font-size: 200%;
    margin-right: 2em;
    margin-left: 2em;
    padding: 3em; 
}

    
    



h1 {
    color: red;
    font-size: 300%;
    
}


