* {
    margin: 0;
    padding: 0;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/background3.jpg)
    }
p {
    text-align: right;
}
.navbar {
    font-family: 'Francois One', sans-serif;
    display: block;
    background-color: #4f4f4f;
    padding: 20px;
    text-align: center;
    height: 2em;
}


.logo {
    background: #4f4f4f;
    float: left;
    height: 3em;
}
.two {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 175%;
    margin-left: 5%;
    margin-right: 5%;
    
    }
h1 {
    
    font-size: 500%;
    text-align: center;
    margin-bottom: 1%;
    
}
.intro {
    
    color: #e3faff;
    font-size: 250%;
    text-align: center;
    margin: 1%;
    
}
.number {
    color: white;
    font-size: auto;
    float: right;
}

.font {
    font-family: 'Francois One', sans-serif;
    color: white
}
h3{
    font-size: 150%;
}

.text {
    display: inline-block;
    text-align: left;
    margin-left: 10%;
}

.img {
    display: inline-block;
    float: left;  
    margin-left: 10%;
    
}
.centerp{
    text-align: left;
    font-size: 200%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    
}
p {
    text-align: left;
    font-size: 200%;
    margin-right: 10%;
    margin-left: 53%;
    margin-bottom: 11%
}

.footer {
    
    text-align: right;
    font-size: 130%;
    margin-top: 10em

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.contact{
    font-size: 150%;
    margin-top: 2%;
    margin-bottom: 2%;
}